<%- include('../partials/header') %>

    <div class="card">
        <form action="/comments/<%= comment._id %>/?_method=PUT" method="POST">
            <div class="card-header">
                <img src="<%= comment.commentAuthorAvatar %>" alt="avatar" width="30" height="30" class="rounded">
                <%= comment.commentAuthorName %>
                commented on
                <%= comment.createdAt.toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'}) %>
            </div>
            <div class="card-body">
                <textarea name="commentContent" class="w-100 p-3" style="height: 200px"><%= comment.commentContent %></textarea>
                <hr>
                <button type="submit" class="btn btn-primary">Save Comment</button>
            </div>
        </form>
    </div>

<%- include('../partials/footer') %>