<%- include('../partials/header') %>

  <% posts.forEach(function(p) { %>
    <div class="card">
      <div class="card-header">
        <img src="<%= p.postAuthorAvatar %>" alt="avatar" width="30" height="30" class="rounded">
        <%= p.postAuthorName %>
        on
        <%= p.createdAt.toLocaleString([], {year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit'}) %>
      </div>
      <div class="card-body">
        <p><%= p.postContent %></p>
        <p>
          <!-- &#128078;
          &#128077; -->
        </p>
        <hr>
        <a href="/posts/<%= p._id %>" class="btn btn-sm btn-primary">VIEW</a>
      </div>
    </div>
    <br>
  <% }) %>

<%- include('../partials/footer') %>