<%- include('../partials/header') %>

<h2><%= post.postAuthorName %>'s Post:</h2>

<div class="post-container">
    <div class="post">
        <img 
            src="<%= post.postAuthorAvatar %>" 
            alt="avatar" 
            class="avatar">
        <p><%= post.postAuthorName %></p>
        <br>
        <p><%= post.postContent %></p>
        <br>
        
        <!-- <a href="/posts/<%= post._id %>/edit">EDIT</a> -->
        
        <form action="/posts/<%= post._id %>/edit" method="GET">
            <button type="submit">EDIT</button>
        </form>
        <form action="/posts/<%= post._id %>/?_method=DELETE" method="POST">
            <button type="submit">DELETE</button>
        </form>
    </div>
</div>

<%- include('../partials/footer') %>